include ./mixins.pug


<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")

        link(rel="preload prefetch" href="../assets/fonts/Inter-Regular.ttf" as="font" type="font/ttf" crossorigin)
        link(rel="preload prefetch" href="../assets/fonts/Inter-Regular.woff" as="font" type="font/woff" crossorigin)
        link(rel="preload prefetch" href="../assets/fonts/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="preload prefetch" href="../assets/fonts/Inter-Medium.ttf" as="font" type="font/ttf" crossorigin)
        link(rel="preload prefetch" href="../assets/fonts/Inter-Medium.woff" as="font" type="font/woff" crossorigin)
        link(rel="preload prefetch" href="../assets/fonts/Inter-Medium.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="preload prefetch" href="../assets/fonts/Inter-Semibold.ttf" as="font" type="font/ttf" crossorigin)
        link(rel="preload prefetch" href="../assets/fonts/Inter-Semibold.woff" as="font" type="font/woff" crossorigin)
        link(rel="preload prefetch" href="../assets/fonts/Inter-Semibold.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="preload prefetch" href="../assets/fonts/Inter-Bold.ttf" as="font" type="font/ttf" crossorigin)
        link(rel="preload prefetch" href="../assets/fonts/Inter-Bold.woff" as="font" type="font/woff" crossorigin)
        link(rel="preload prefetch" href="../assets/fonts/Inter-Bold.woff2" as="font" type="font/woff2" crossorigin)

        //- link(rel="preload" type="image/jpg" href="../assets/img/custom-images/radauteana.jpg")


        //- Favicon
        link(rel="apple-touch-icon" sizes="180x180" href="../assets/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="../assets/favicon/favicon-16x16.png")
        link(rel="mask-icon" href="../assets/favicon/safari-pinned-tab.svg" color="#5bbad5")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")

        link(rel='manifest' href='../assets/favicon/manifest.json' crossorigin="use-credentials")



        block title
        link(rel="stylesheet" href="css/vendors.bundle.css")
        link(rel="stylesheet" href="css/main.bundle.css")
        block styles

    body
        //- include ../assets/img/sprite.min.svg

        //- Header
        +header

        // Start: Main
        main#main
            block main
        // End: Main
        
        //- Footer

        include ../sections/footer/footer.pug

        //- Scripts
        //- script(src="js/vendors/axios.min.js")
        script(src="js/vendors/utils.min.js") 
        script(src="js/vendors.bundle.js")
        script(src="js/main.bundle.js")

        block scripts

        script(src="js/backend/backend.js")