$nav-padding: 16px;
$nav-list-padding: 1em;
$padding-top: 3em;
$space-between-items: 32px;
$animation-duration: 0.5s;
$nav-ic-close-pos-top: (
  def: 16px,
  $sm: 16px,
);
$nav-ic-close-size: 24px;
$navOpenBg: $color-bg;

.nav {
  // margin-right: -$nav-padding;
  // position: absolute; // This need to fix bug with wrong icon position
  @include trs($delay: $animation-duration);

  &.open {
    @include trs($delay: 0s);
    opacity: 1;
    visibility: visible;

    .nav__list {
      background-color: $navOpenBg;
      transform: translateX(0);
    }

    .nav__ic-close {
      opacity: 1;
      visibility: visible;
      transform: translateX(0px);

      @include mq-up($lg) {
        opacity: 0;
        visibility: hidden;
      }
    }

    .nav__bg {
      opacity: 1;
      visibility: visible;

      @include mq-up($lg) {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  @include mq($lg) {
    position: fixed;
    z-index: 999;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;

    .header__logo {
      margin-right: auto;
      margin-left: auto;
      margin-top: 16px;
    }
  }
}

.nav__list {
  @include trs($animation-duration);
  display: flex;
  position: relative;
  z-index: 1;
  text-align: center;

  @include mq($lg) {
    display: block;

    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: $nav-list-padding;
    padding-top: 0;

    transform: translateX(100%);

    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.nav__items {
  display: flex;
  flex-wrap: wrap;

  @include mq($lg) {
    display: block;
    margin-top: 16px;
  }
}

.nav__item {
  + .nav__item {
    margin-left: $space-between-items;
    @include mq($lg) {
      margin-left: 0;
      margin-top: 10px;
    }
  }
}

.nav__link-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.nav__link {
  @include trs;
  display: block;
  width: 100%;
  padding: 0.5em;
  color: currentColor;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: $font-semibold;

  &.active {
    color: $color-primary;
  }

  &:hover {
    color: $color-primary-lighter;
  }

  @include mq($lg) {
    padding: 8px 0;
    color: $color-w;
  }
}

.nav__icon {
  width: 16px;
  height: 16px;
  margin-left: 10px;

  @include mq($lg) {
    height: 32px;
    padding: 8px 0;
  }
}

.nav__toggle {
  display: none;
  cursor: pointer;
  position: relative;
  color: $color-white;
  z-index: 1000;
  width: $nav-ic-close-size;
  height: $nav-ic-close-size;
  justify-content: center;
  align-items: center;
  padding: 0;

  span {
    margin-left: 32px;
  }

  &:not(.nav__ic-close) {
    margin-left: 36px;
    @include mq($sm) {
      margin-left: 0;
      margin-right: 0px;
    }
  }

  &.open {
    color: $color-grey-2;

    .nav__ic-close {
      stroke: $color-grey-2;
      opacity: 1;
      visibility: visible;
      transform: none;
    }

    .nav__ic-open {
      opacity: 0;
      visibility: hidden;
      transform: translateX(20px);
    }
  }

  @include mq($lg) {
    display: flex;
  }
  @include mq($sm) {
    margin-left: auto;
  }
}

.nav__toggle-ic {
  stroke: $color-grey-2;
  left: 0;
  top: 2px;
  width: $nav-ic-close-size;
  height: $nav-ic-close-size;
}

.nav__ic-close {
  @include resp-magic(top, $nav-ic-close-pos-top);
  transition: transform 0.3s ease, background-color 0.3s ease 0.3s; // Delay for background
  background-color: transparent;
  opacity: 0;
  visibility: hidden;
  transform: translateX(20px);
  position: absolute;
  right: 16px;
  left: auto;
  width: 24px;
  height: 24px;
  z-index: 2;
}

.nav__ic-open {
  @include trs;
  opacity: 1;
  visibility: visible;
  transform: none;
}

.nav__bg {
  @include trs($animation-duration);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($navOpenBg, 0.4);
  z-index: 0;

  opacity: 0;
  visibility: hidden;

  display: none;
}
