mixin nav(arr)
    - var items = arr || [];

    nav.nav#nav

        button.nav__toggle.nav__ic-close.color-white

            svg.nav__toggle-ic(viewbox='0 0 22 22' xmlns='http://www.w3.org/2000/svg')
                g(stroke-width='2' fill='none' fill-rule='evenodd' stroke="currentColor" stroke-linecap='round' stroke-linejoin='round')
                    path(d='M1 1l20 20M21 1L1 21')

            
        .nav__list
            a.header__logo.hidden-lg-up(href="index.html")
                img(src="../../assets/img/logo-mobile-nav.svg" alt="")
            ul.nav__items
                - for (var i = 0; i < items.length; i++)
                    li.nav__item
                        .nav__link-wrapper
                            a.nav__link(href=items[i].href class= i === 0 ? 'active' : '')= items[i].title

            

            
        .nav__bg.dn

    button.nav__toggle#nav__toggle              
        svg.nav__toggle-ic.nav__ic-open(viewbox='0 0 22 20' xmlns='http://www.w3.org/2000/svg')
            g(stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round')
                path(d='M1 1h20M1 10h20M1 19h20')

        