.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: map-get($btn, fontSize);
  line-height: 24px;
  border-radius: map-get($btn, borderRadius);
  padding: map-get($btn, padding);
  min-width: map-get($btn, minWidth);
  background: $color-primary;
  border: 1px solid $color-primary;
  font-weight: map-get($btn, fontWeight);
  text-transform: uppercase;

  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;

  @include mq($sm) {
    font-size: map-get($btn, fontSizeSM);
    padding: map-get($btn, paddingSM);
  }
}

.btn-ghost-primary {
  background: transparent;
  color: $color-primary;
  border-color: $color-primary;

  &:hover {
    color: $color-white;
    background: $color-primary;
  }
}

.btn-ghost-white {
  background: transparent;
  color: $color-white;
  border-color: $color-white;

  &:hover {
    color: $color-white;
    background: rgba($color-white, 0.1);
  }
}

.btn--primary {
  color: $color-white;
  background: $color-primary;
  border: none;

  &:hover {
    background: $color-primary-lighter;
    border-color: $color-primary-lighter;
  }

  &:active,
  &.active {
    background: $color-primary-darker;
    border-color: $color-primary-darker;
  }
}

.btn--nopadding {
  padding: 0;
  min-width: auto;

  &:hover {
    background: transparent;
    color: darken($color-primary, 10%);
  }
}

.btn--lg {
  font-size: map-get($btn, fontSize) * 1.2;
}

.btn--sm {
  font-size: map-get($btn, fontSizeSM);
  padding: map-get($btn, paddingSM);
  min-width: map-get($btn, minWidthSM);
}

.btn--reverse {
  flex-flow: row-reverse;
}

.btn-border {
  border-radius: 8px;
}

.btn--disabled {
  background: $color-disabled;
  border-color: $color-disabled;
  cursor: no-drop;

  &:hover {
    background: lighten($color-disabled, 10);
    border-color: lighten($color-disabled, 10);
  }
}

.btn--preload {
  > * {
    transition: 0.3s ease;
    transform: translateY(-100%);
    opacity: 0;
  }

  &:before {
    content: "";
    width: 1.4em;
    height: 1.4em;
    border-radius: 50%;
    border: 2px dotted white;
    position: absolute;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
    margin: auto;
    transform-origin: center;
    opacity: 0;
    animation: appear 1s ease forwards, preloader 3s linear infinite;
  }
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

@keyframes preloader {
  0% {
    transform: translateY(0) rotate(0);
  }

  to {
    transform: translateY(0) rotate(360deg);
  }
}
