mixin btn(obj)
    -   
        var def = {
            text: 'Read More',
            ghost: false,
            type: null,
            icon: null,
            iconGoLeft: false,
            withIcon: false,
            iconOnly:false,
            color: 'primary',
            size: false,
            dataModal:'',
            class: null,
            id: null,
            animation: null,
            href: null,
            blank: null,
            download: false,
            nopadding: false,
            disabled: false,
        }

    - var params = Object.assign({}, def, obj)
    - var color = params.ghost === true ? 'btn-ghost-' + params.color : 'btn--' + params.color
    - var size = params.size == false ? '': 'btn--'+params.size
    - var text = params.text == undefined ? def.text : params.text
    - var data = params.dataModal == false ? null: params.dataModal
    - var id = params.id == false ? null: params.id
    - var parent = 'button'


    if params.iconOnly
        - text = null

    if params.href
        - var parent = 'a'




    #{parent}.btn( 
        href= params.href,
        target= params.blank ? '_blank' : null,
        rel= params.blank ? 'nofollow noopener' : null,
        class= {
            'btn--reverse': params.iconGoLeft,
            'btn-icon-only': params.iconOnly,
            'btn--with-icon': params.icon && !params.iconOnly,
            'btn--disabled': params.disabled,
            'btn--nopadding': params.nopadding
        },
        class = color
        class = size
        id= params.id
        class= params.class
        data-modal= data
        data-animation= params.animation,
        download= params.download ? '' : null
    )&attributes(attributes)

        if block 
            block
            if params.icon
                +icon(params.icon)
        else 
            span=  text
            if params.icon
                +icon(params.icon)