@font-face {
  font-family: $fontFamily;
  src: url("../assets/fonts/Inter-Regular.ttf") format("ttf"),
    url("../assets/fonts/Inter-Regular.woff") format("woff"),
    url("../assets/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: $font-reg;
  font-display: swap;
}

@font-face {
  font-family: $fontFamily;
  src: url("../assets/fonts/Inter-Medium.ttf") format("ttf"),
    url("../assets/fonts/Inter-Medium.woff") format("woff"),
    url("../assets/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: $font-med;
  font-display: swap;
}

@font-face {
  font-family: $fontFamily;
  src: url("../assets/fonts/Inter-Semibold.ttf") format("ttf"),
    url("../assets/fonts/Inter-Semibold.woff") format("woff"),
    url("../assets/fonts/Inter-Semibold.woff2") format("woff2");
  font-weight: $font-semibold;
  font-display: swap;
}

@font-face {
  font-family: $fontFamily;
  src: url("../assets/fonts/Inter-Bold.ttf") format("ttf"),
    url("../assets/fonts/Inter-Bold.woff") format("woff"),
    url("../assets/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: $font-bold;
  font-display: swap;
}
