@import "var";
@import "mixins";

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  background: $color-grey-2;

  font-family: $fontFamily;
  font-weight: $font-reg;
}

main {
  flex: 1; // For sticky footer

  &.overflow-hidden {
    overflow: hidden;
    max-height: 100vh;
  }
}

img {
  width: 100%;
}

button {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }
}
