// Settings
$container: 1128px;
$columns: 12;
$gap: 12px; // не должно быть больше 25рх

// Styles
.container {
  margin: 0 auto;
  padding: 0 $gap;
  max-width: $container;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$gap;
  margin-right: -$gap;
}

@for $i from 1 through $columns {
  .col-#{$i} {
    $test: percentage($i/$columns);
    width: calc(#{$test} - #{$gap}* 2);
    margin: 0 #{$gap};
  }
}

@each $bp, $size in $breakpoints {
  @media (max-width: $size + px) {
    @for $i from 1 through $columns {
      .col-#{$bp}-#{$i} {
        $test: percentage($i/$columns);
        width: calc(#{$test} - #{$gap}* 2);
        margin: 0 #{$gap};
      }
    }
  }
}
