@import "var.scss";

// Extends
@each $bp, $val in $breakpoints {
  .hidden-#{$bp} {
    @media (max-width: #{$val}px) {
      display: none !important;
    }
  }
}

@each $bp, $val in $breakpoints-mf {
  .hidden-#{$bp} {
    @media (min-width: #{$val}px) {
      display: none !important;
    }
  }
}

.no-bg {
  background: none !important;
}

.no-padding {
  padding: 0 !important;
}

// Width
.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.dib {
  display: inline-block;
}

.db {
  display: block;
}

// Flex
.dflex {
  display: flex;
}

.dif {
  display: inline-flex;
}

.fd-col {
  flex-direction: column;
}
.jcsb {
  justify-content: space-between;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}

.aie {
  align-items: flex-end;
}

.f-wrap {
  flex-wrap: wrap;
}

.overflow-hidden {
  overflow: hidden;
}

//text

.text--short {
  // set max-width to this element and set title in markup
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
}
