// Trasnition
@mixin trs($time: 0.3s, $delay: 0s) {
  transition: $time ease;
  transition-delay: $delay;
}

// Before / After
@mixin befaf() {
  content: "";
  display: block;
  position: absolute;
}

// Border radius
@mixin bdrs($r: 4px) {
  border-radius: $r;
}

// Media query (desktop first)
@mixin mq($bp) {
  @media (max-width: #{$bp}px) {
    @content;
  }
}

// Media query (mobile first)
@mixin mq-up($bp) {
  @media (min-width: #{$bp}px) {
    @content;
  }
}

// Responsive magic =D
@mixin resp-magic($param, $map) {
  @each $key, $val in $map {
    @if ($key== "def") {
      #{$param}: $val;
    } @else {
      @include mq($key) {
        #{$param}: $val;
      }
    }
  }
}

@function prepend($list, $value) {
  @return join($value, $list);
}

// Some magic ^_^
@mixin some-magic($param) {
  @each $key, $val in $param {
    @if type-of($val) == "map" and $key !=hover {
      // If value has map and is NOT hover
      @include mq($key) {
        @each $rule, $value in $val {
          #{$rule}: $value;
        }
      }
    } @else if $key !=hover {
      // If not hover and not map
      #{$key}: $val;
    }

    @if $key==hover {
      // If :hover
      &:hover {
        @each $keyInner, $valInner in $val {
          @if type-of($valInner) == "map" {
            @include mq($keyInner) {
              @each $rule, $value in $valInner {
                #{$rule}: $value;
              }
            }
          } @else {
            #{$keyInner}: $valInner;
          }
        }
      }
    }
  }
}

// CSS шлюз
@mixin gateway($start, $end, $min: 576, $max: 960, $type: font-size) {
  $m: ($start - $end) / ($max - $min); //0,09375
  $b: $end - $m * $min; // 30
  $y: $m + $b;

  @media (min-width: #{$min}px) {
    #{$type}: calc(#{$m} * 100vw + #{$b}px);
  }

  @media (max-width: #{$min - 1}px) {
    #{$type}: #{$end}px;
  }

  @media (min-width: #{$max}px) {
    #{$type}: #{$start}px;
  }
}
