// FORMS
$form: (
  checkboxWidth: 20px,
  checkboxHeight: 20px,
  colorCheckRadioDef: $color-grey-2,
  colorCheckRadio: $color-primary,
  bgcolor: transparent,
  bgcolorHover: transparent,
  inputPadding: 0.25em 1em,
  iconSize: 1.3em,
  fontSize: 16px,
);

// BUTTONS
$btn: (
  fontSize: 18px,
  fontSizeSM: 12px,
  borderRadius: 2px,
  padding: 16px 24px,
  fontWeight: $font-med,
  minWidthLink: auto,
  paddingSM: 10px 16px,
  paddingIconOnly: 1em,
  paddingWithIcon: 1em 1.5em,
  paddingLink: 0.5em 1.5em,
);

// TYPOGRAPHY
$p: (
  font-size: 16px,
  line-height: 1.78em,
  margin-bottom: 0,
  $lg: (
    font-size: 14px,
  ),
);

$a: (
  font-size: 16px,
  line-height: 2.4,
  color: $color-primary,
  hover: (
    background-color: $color-grey-0,
  ),
  $sm: (
    font-size: 14px,
    line-height: 2,
  ),
);

$ul: (
  font-size: 16px,
  line-height: 2.4,
  color: $color-black,
  padding-left: 3em,
  $sm: (
    font-size: 14px,
    line-height: 2,
  ),
);
