// Typography styles
@import "./_settings.scss";

p {
  @include some-magic($p);

  &:last-child {
    margin-bottom: 0;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  @include mq($lg) {
    font-size: 14px;
    line-height: 1.6;
    font-weight: $font-reg;
  }
}

b,
strong {
  font-weight: $font-bold;
}

.color-primary {
  color: $color-primary;
}

.color-white {
  color: $color-white;
}

.color-grey-1 {
  color: $color-grey-1;
}

.text--sm {
  font-size: 0.75rem;
}

.text--smd {
  font-size: 14px;
}

.text--lg {
  font-size: 1.5rem;
}

.fw-reg {
  font-weight: $font-reg;
}

.uppercase {
  text-transform: uppercase;
}

// Align
.align--center {
  text-align: center;
}

.align--left {
  text-align: left;
}

.align--right {
  text-align: right;
}

@each $bp, $val in $breakpoints {
  .align--center-#{$bp} {
    @media (max-width: #{$val}px) {
      text-align: center;
    }
  }

  .align--left-#{$bp} {
    @media (max-width: #{$val}px) {
      text-align: left;
    }
  }

  .align--right-#{$bp} {
    @media (max-width: #{$val}px) {
      text-align: right;
    }
  }
}

@each $bp, $val in $breakpoints-mf {
  .text--center-#{$bp} {
    @media (min-width: #{$val}px) {
      text-align: center;
    }
  }

  .text--left-#{$bp} {
    @media (min-width: #{$val}px) {
      text-align: left;
    }
  }

  .text--right-#{$bp} {
    @media (min-width: #{$val}px) {
      text-align: right;
    }
  }
}
