$fontFamily: "Inter";
$font-reg: 400;
$font-med: 500;
$font-semibold: 600;
$font-bold: 700;

// Colors
$color-black: #1f1f1d;
$color-white: #ffffff;
$color-w: $color-white;
$color-primary: #20d4ad;
$color-primary-lighter: #51ddbf;
$color-primary-darker: #18a486;
$color-success: $color-primary;
$color-error: #c12e2a;
$color-grey-0: #a0b0bd;
$color-grey-1: #5e6c79;
$color-grey-2: #2d3e50;
$color-bg: $color-grey-2;

$color-disabled: $color-grey-0;

// Breakpoints
$lg: 991;
$sm: 768;

$breakpoints: (
  lg: $lg,
  sm: $sm,
);

$lg-up: $lg + 1;
$sm-up: $sm + 1;

$breakpoints-mf: (
  lg-up: $lg-up,
  sm-up: $sm-up,
);
