

mixin swiper(obj)

    -
        var def = {
            icon: null, // Object
            pagination: true,
            id: null,
            class: null
        }
    
    - var params = Object.assign({}, def, obj)
    - var icon = params.icon == null ? null : params.icon
    - var id = params.id == false ? false: params.id


    .swiper-container(id=id)&attributes(attributes)
        .swiper-wrapper
            block

        if params.pagination
            .swiper-pagination

        if icon 
            .swiper-button-prev
                +icon(icon)
            .swiper-button-next
                +icon(icon)
        else
            .swiper-button-prev
            .swiper-button-next
     
mixin slide()
    .swiper-slide
        block