mixin icon(opt)
    - 
        var def = {
            name: null,
            pos: null,
            stroke: null,
            fill: null,
            width: 32,
            height: 32,
            class: null,
            id: null
        }

    - var params = Object.assign({}, def, opt)
    - var stroke = params.stroke !== null ? 'stroke-' + params.stroke : ''
    - var fill = params.fill !== null ? 'fill-' + params.fill : ''

    if params.type == 'img'
        img.icon(src= params.src
            alt= ''
            class={
                'icon--mleft': params.pos == 'right',
                'icon--mright': params.pos == 'left',
            }        
            class= params.class        
            width= params.width
            height= params.height)&attributes(attributes)
    else
        svg.icon(class={
                    'icon--mleft': params.pos == 'right',
                    'icon--mright': params.pos == 'left',
                }
                class= stroke
                class= fill
                class= params.class
                id= params.id
                width= params.width
                height= params.height
            )&attributes(attributes)
            use(xlink:href= '../../assets/img/sprite.min.svg' + params.name )