$icon-margin: 0.8em;

.icon {
  @include trs;
  stroke-width: 2;

  &--mleft {
    margin-left: $icon-margin;
  }

  &--mright {
    margin-right: $icon-margin;
  }
}

// Stroke
.stroke-current {
  stroke: currentColor;
}

// Fill
.fill-current {
  fill: currentColor;
}
