mixin socials(config)
    -
        const defaults = {
            links: [
                {
                    icon: '#ic-fb',
                    href: '#'
                },
                {
                    icon: '#ic-twitter',
                    href: '#'
                },
                {
                    icon: '#ic-google',
                    href: '#'
                },
                {
                    icon: '#ic-instagram',
                    href: '#'
                },
            ]
        }

    -   const params = Object.assign({}, defaults, config)

    ul.socials&attributes(attributes)

        each item in params.links
            li.socials__item
                +btn({href: item.href, iconOnly: true, color: 'link', icon: {name: item.icon, fill: 'current', width: 20, height: 20}}).socials__btn
