.socials {
  display: flex;
  align-items: center;
  margin: 0 -8px;
}

.socials__btn {
  border-radius: 50%;
  padding: 8px;
  margin: 0 8px;
  color: $color-white;
  background-color: rgba($color-white, 0.1);

  .icon {
    @include trs(0s);
  }

  &:hover {
    background-color: $color-white;
    color: rgba($color-white, 0.1);
  }
}
