.hero {
  height: 680px;

  .swiper-container {
    height: 100%;
  }

  .hero__slide-picture {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    img {
      height: 100%;
      object-fit: cover;
    }

    &:before {
      @include befaf;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba($color-grey-2, 0.8);
    }
  }

  .swiper-slide {
    .container,
    .hero__slide-content {
      height: 100%;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    @include trs;
    position: absolute;
    top: 50%;
    width: 80px;
    height: 80px;
    transform: translateY(-50%);
    background-color: rgba($color-white, 0.1);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    cursor: pointer;

    &:hover {
      background: $color-primary-lighter;
    }

    &:active,
    &.active {
      background: $color-primary-darker;
    }
  }

  .swiper-button-prev {
    left: 0;
    .icon {
      transform: rotate(-180deg);
    }
  }
  .swiper-button-next {
    right: 0;
  }

  .hero__slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-white;
  }

  .hero__slide-title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 16px;
    text-align: center;
    text-transform: uppercase;
  }

  .hero__slide-text {
    font-weight: $font-med;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }

  .hero__slide-actions {
    margin-top: 48px;
  }

  .hero__slide-actions {
    .btn + .btn {
      margin-left: 32px;
    }
  }

  @include mq($sm) {
    height: calc(100vh - 60px);

    .hero__slide-content {
      padding-bottom: 52px;
    }

    .hero__slide-title {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 24px;
    }

    .hero__slide-text {
      font-size: 14px;
      line-height: 24px;
    }

    .hero__slide-actions {
      margin-top: 60px;
    }

    .swiper-button-prev,
    .swiper-button-next {
      width: 52px;
      height: 52px;

      top: auto;
      bottom: 0;
      transform: none;
      right: auto;
      left: 50%;

      .icon {
        width: 40px;
        height: 40px;
      }
    }

    .swiper-button-prev {
      transform: translateX(-125%);
    }

    .swiper-button-next {
      transform: translateX(25%);
    }

    .hero__slide-actions {
      display: flex;
      flex-direction: column;

      .btn + .btn {
        margin-left: 0;
        margin-top: 16px;
      }
    }
  }
}
