section#hero.hero
    -
        let slides = [
            {
                title: 'To Travel is to Live',
                text: 'You Don’t Need Magic to Disappear. All you need is a destination.',
                imgLarge: '../assets/img/hero-img-large.jpg',
                img: '../assets/img/hero-img.jpg',
                imgLg: '../assets/img/hero-img-lg.jpg',
                imgSm: '../assets/img/hero-img-sm.jpg',
                href: '#',
                btnText: 'Show on Map',
                hrefSec: '#',
                btnSecText: 'More Info'
            },
            {
                title: 'To Travel is to Live 1',
                text: 'You Don’t Need Magic to Disappear.',
                imgLarge: '../assets/img/hero-img-large.jpg',
                img: '../assets/img/hero-img.jpg',
                imgLg: '../assets/img/hero-img-lg.jpg',
                imgSm: '../assets/img/hero-img-sm.jpg',
                href: '#',
                btnText: 'Show',
            },
        ]
    +swiper({pagination: false, icon: {name: '#ic-chevron', fill:'current', width: '48', height: '48'}})#swiper-hero
        - for (let i = 0; i < slides.length; i++)
            - let slide = slides[i]
            +slide().hero__slide
                .hero__slide-picture
                    +picture({src: slides[i].imgLarge, sources: [{ bp: 768, src: slide.imgSm}, {bp: 991, src: slide.imgLg}, {bp: 1600, src:slide.img}]})

                .container
                    .hero__slide-content
                        h2.hero__slide-title= slide.title
                        p.hero__slide-text= slide.text
                        if slide.href 
                            .hero__slide-actions 
                                +btn({href: slide.href, color: 'primary', text: slide.btnText})
                                if slide.hrefSec
                                    +btn({href: slide.hrefSec, color: 'white', ghost: true, text: slide.btnSecText})