@import "../../scss/_settings.scss";

$sidePadding: 0px;
$verticalPadding: nth(map-get($form, inputPadding), 1);
$doubleVerticalPadding: $verticalPadding * 2;

@if length(map-get($form, inputPadding)) >1 {
  $sidePadding: nth(map-get($form, inputPadding), 2);
} @else {
  $sidePadding: nth(map-get($form, inputPadding), 1);
}

// Input + Textarea
input,
textarea {
  @include trs;
  border: none;
  border-radius: 0;
  width: 100%;
  padding: map-get($form, inputPadding);
  outline: none;
  color: $color-white;
  font-size: inherit;
  font-weight: $font-bold;
  background: map-get($form, bgcolor);
  -webkit-appearance: none;

  &:focus,
  &.active {
    // border-color: $color-primary;
    background: map-get($form, bgcolorHover);

    + .form__placeholder {
      transform: translateY(calc(#{-$verticalPadding - 0.125em} - 50%));
      // background: #fff;
      font-size: 12px;
      color: rgba($color-grey-1, 0.7);
    }
  }

  // Autofill background
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-text-fill-color: inherit;
  }

  &::-webkit-input-placeholder {
    color: $color-grey-0;
    font-weight: 100;
  }

  &::-moz-placeholder {
    color: $color-grey-0;
    font-weight: 100;
  }

  &:-moz-placeholder {
    color: $color-grey-0;
    font-weight: 100;
  }

  &:-ms-input-placeholder {
    color: $color-grey-0;
    font-weight: 100;
  }
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
}

// Form
.form {
  max-width: 100%;
  position: relative;

  &.form--preload .form__group {
    opacity: 0.5;
  }
}

.form__success {
  @include trs;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  transform: translateY(10px);
  color: $color-success;

  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 5;
  // background: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__subtitle {
  color: $color-grey-1;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  font-size: 14px;
  max-width: 350px;

  @include mq($sm) {
    margin-bottom: 32px;
    font-size: 12px;
  }
}

.form__title {
  font-size: 24px;
  width: 100%;
  text-align: center;
  margin-bottom: 18px;
  color: $color-white;

  @include mq($sm) {
    font-size: 20px;
  }
}

.form__wrapper {
  display: flex;
  align-items: center;

  position: relative;
}

.form__group {
  display: block;
  position: relative;
  margin-bottom: 12px;
  font-size: map-get($form, fontSize);
  width: 100%;
}

.form__group-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__placeholder {
  @include trs;
  font-size: map-get($form, fontSize);
  position: absolute;
  left: $sidePadding;
  top: #{$verticalPadding + 0.125em};
  // transform: translateY(-50%);
  padding: 0 5px;
  margin-left: -5px;
  color: $color-grey-0;
  pointer-events: none;
  line-height: 1;
  // height: 0;
}

.form__group--row {
  display: flex;
  flex-wrap: wrap;

  > .form__wrapper {
    margin-right: 1em;
  }
}

.form__wrapper--has-icon {
  input {
    padding-right: calc(#{map-get($form, iconSize)} + #{$sidePadding * 2});
  }
}

// Upload
input[type="file"] {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.form__upload-item {
  display: flex;
  align-items: center;

  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.form__upload-btn-title {
  display: flex;
  align-items: center;
  color: $color-white;
  font-size: 14px;

  &:hover {
    color: $color-white;
  }
}

.form__upload-file-name {
  font-size: 14px;
  color: $color-grey-0;
}

.uploaded-files {
  margin-right: auto;
}

// Counter
.form__counter {
  color: $color-grey-0;
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 12px;
}

// Input icon
.form__input-icon {
  position: absolute;
  top: $verticalPadding;
  right: $sidePadding;
  width: map-get($form, iconSize);
  height: map-get($form, iconSize);
  // border: 1px solid #000;

  display: flex;
  justify-content: center;
  align-items: center;
}

// Checkbox + radio
.form__checkbox,
.form__radio {
  -webkit-appearance: none;
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + .icon {
    @include trs;
    width: map-get($form, checkboxWidth);
    height: map-get($form, checkboxHeight);
    stroke-width: 2;
    position: relative;

    &:before {
      @include trs;
      @include befaf;
      width: map-get($form, checkboxWidth) * 2;
      height: map-get($form, checkboxHeight) * 2;
      left: -50%;
      top: -50%;
      opacity: 0.2;
      transform-origin: 50% 50%;
      border-radius: 50%;
      background: rgba(#000, 0.2);
      pointer-events: none;
      transform: scale(0);
    }

    path {
      @include trs;
    }
  }

  &:checked + .icon {
    &:before {
      animation: checkbox-checked 0.6s ease-out forwards;
    }
  }
}

// Checkbox
.form__checkbox {
  & + .icon {
    @include trs;
    width: map-get($form, checkboxWidth);
    min-width: map-get($form, checkboxWidth);
    height: map-get($form, checkboxHeight);
    stroke-width: 2;
    position: relative;
    margin-right: 8px;

    path {
      @include trs;
      stroke: map-get($form, colorCheckRadioDef);
    }

    path:first-child {
      @include trs($delay: 0.1s);
      stroke-dasharray: 100;
      stroke-dashoffset: 200;
    }

    path:last-child {
      @include trs(0.5s, $delay: 0s);
      stroke-dasharray: 50;
      stroke-dashoffset: 50;
    }
  }

  &:checked + .icon {
    path {
      stroke: map-get($form, colorCheckRadio);
    }

    &:before {
      animation: checkbox-checked 0.6s ease-out forwards;
    }

    path:first-child {
      @include trs($delay: 0s);
      stroke-dasharray: 80;
      stroke-dashoffset: 145;
    }

    path:last-child {
      @include trs(0.5s, $delay: 0.1s);
      stroke-dasharray: 50;
      stroke-dashoffset: 0;
    }
  }
}

// Radio
.form__radio {
  & + .icon {
    @include trs;
    width: map-get($form, checkboxWidth);
    min-width: map-get($form, checkboxWidth);
    height: map-get($form, checkboxHeight);
    stroke-width: 2;
    position: relative;
    margin-right: 8px;

    path:first-child {
      @include trs(0.6s, $delay: 0s);
      stroke-dasharray: 83;
      stroke-dashoffset: 0;
      stroke: $color-grey-0;
    }

    path:last-child {
      @include trs($delay: 0s);
      fill: transparent;
      stroke: none;
    }
  }

  &:checked + .icon {
    path:first-child {
      stroke-dashoffset: 166;
      stroke: map-get($form, colorCheckRadio);
    }

    path:last-child {
      @include trs($delay: 0.3s);
      fill: map-get($form, colorCheckRadio);
      stroke: none;
    }
  }
}

// Animation for checkbox + radio
@keyframes checkbox-checked {
  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

textarea {
  width: 100%;
}

.form__group.error {
  input,
  textarea {
    border-color: $color-error;
  }

  .error__text {
    opacity: 1;
    visibility: visible;
    max-height: 60px;
  }
}

.success__text {
  @include trs;
  text-align: center;
  width: 100%;
  color: $color-success;

  opacity: 0;
  transform: translateY(50px);

  &.show {
    opacity: 1;
    transform: translateY(0);
  }
}

.error__text {
  display: block;
  transition: visibility 0.3s ease, max-height 0.5s ease, opacity 0.3s ease;
  font-size: 12px;
  color: $color-error;
  padding: 2px 8px;
  max-height: 0;
  width: 100%;
  text-align: right;

  opacity: 0;
  visibility: hidden;
}
