mixin picture(config)
    -
        const defaults = {
            class: '',
            src: '../../assets/img/g1.jpg',
            alt: 'Picture',
            sources: [
                {
                    bp: 768,
                    src: '../../assets/img/g2.jpg'
                },
                {
                    bp: 1200,
                    src: '../../assets/img/g3.jpg'
                },
            ],
        }
    
    -   const params = Object.assign({}, defaults, config)
    
    picture&attributes(attributes)
        each item in params.sources
            source(media=`(max-width: ${item.bp}px)`, srcset=item.src)
        img(src= params.src, alt=params.alt class= params.class)
