$header-padding: (
  def: 32px 0,
  $lg: 16px 0,
);

$header-logo-size: (
  def: 143px,
  $sm: 120px,
);

.header {
  background-color: $color-white;
}

.header__wrapper {
  position: relative;
  display: flex;
  align-items: center;

  justify-content: space-between;
  @include resp-magic(padding, $header-padding);
}

.header__logo {
  @include trs;
  @include resp-magic(max-width, $header-logo-size);

  display: block;
  transform-origin: 0 center;

  img {
    width: 100%;
  }
}
