mixin header(obj)

    - 
        var navItems = [
            {
                title: 'Home',
                href: '#'
            },      
            {
                title: 'Destinations',
                href: '#'
            },      
            {
                title: 'Cruises',
                href: '#'
            },      
            {
                title: 'Specials',
                href: '#'
            },      
            {
                title: 'Holidays',
                href: '#'
            },      
            {
                title: 'Blog',
                href: '#'
            },      
        ]




    header.header#header
        .container
            .header__wrapper
                .header__section
                    a.header__logo(href="index.html")
                        img(src="../../assets/img/logo.svg" alt="")

                .header__section                    
                    +nav(navItems)




